.popular {
    &__row {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 30px;
        row-gap: 30px;

        @media(max-width: 1024px) {
            grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
        }
    }

    &__name {
        font-weight: 500;
    }

    &__place {
        color: $gray;
    }

    &__img {
        border-radius: 24px;
    }
}